name: List remote FTP directory

on: [workflow_dispatch]

jobs:
  list-directory:
    runs-on: ubuntu-latest
    steps:
      - name: Install lftp
        run: |
          sudo apt-get update
          sudo apt-get install -y lftp

      - name: List remote directory
        run: |
          lftp -c "open -u ${{ secrets.USERMANUAL_USERNAME }},${{ secrets.USERMANUAL_KEY}} ${{ secrets.USERMANUAL_HOST}}; ls -lat"
